@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="homeIndex">
    <div class="ui container center aligned">
        <h1>Manage Account</h1>
        <hr class="hrStyle" />
    </div>

    <div class="row">
        @await Html.PartialAsync("_ManageNav")
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

