@using QuiApp.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
    
<div class="row">
    <div class="ui top attached menu">
        <a class="item active" asp-action="Index">User Profile</a>
        <a class="item" asp-action="UserInformation">User Information</a>
        @{
            if (hasExternalLogins)
            {
                <a class="item" asp-action="ExternalLogins">External Logins</a>
            }
        }
        <a class="item" asp-action="TwoFactorAuthentication">2-Factor Authentication</a>
        <a class="item" asp-action="ChangePassword">Password</a>
    </div>
</div>
