@model UserInformationViewModel
@{
    ViewData.AddActivePage(ManageNavPages.UserInformation);
}

<div class="row">
    @Html.Partial("_StatusMessage", Model.StatusMessage)
    <div style="max-width: 500px;">
        <form method="post" class="ui form">
            <div asp-validation-summary="All" class="redText"></div>
            <div class="field">
                <label asp-for="FamilyName"></label>
                <input asp-for="FamilyName" placeholder="Family Name" />
            </div>
            <div class="field">
                <label asp-for="MiddleName"></label>
                <input asp-for="MiddleName" placeholder="optional" />
            </div>
            <div class="field">
                <label asp-for="GiveName"></label>
                <input asp-for="GiveName" placeholder="Given Name" />
            </div>
            <div class="field">
                <label asp-for="UserCode"></label>
                <input asp-for="UserCode" placeholder="Your employment ID" />
            </div>
            <button type="submit" class="ui primary button">Update</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
