<div class="ui grid homeIndex" style="min-height: 328px">
    <div class="ui container center aligned">
        <h1>About</h1>
        <hr class="hrStyle" />
    </div>

    <div class="ui container center aligned">
        <p>Use this area to provide additional information.</p>
    </div>
</div>