
<div class="ui four columns doubling stackable grid homeIndex">
    <div class="ui container center aligned">
        <h1>Features</h1>
        <hr class="hrStyle" />
    </div>

    <div class="column center aligned">
        <i class="fas fa-diagnoses fa-5x"></i>
        <h4>Staff & Students Manage</h4>
    </div>
    <div class="column center aligned">
        <i class="far fa-calendar-check fa-5x"></i>
        <h4>Work & Tasks Monitor</h4>
    </div>
    <div class="column center aligned">
        <i class="fas fa-edit fa-5x"></i>
        <h4>Question Composer & Manage</h4>
    </div>
    <div class="column center aligned">
        <i class="fas fa-copy fa-5x"></i>
        <h4>Test Composer & Control</h4>
    </div>
    <div class="column center aligned">
        <i class="far fa-clock fa-5x"></i>
        <h4>Timer & Scheduler</h4>
    </div>
    <div class="column center aligned">
        <i class="fas fa-download fa-5x"></i>
        <h4>Import & Export</h4>
    </div>
    <div class="column center aligned">
        <i class="fab fa-cloudscale fa-5x"></i>
        <h4>Inclusive Statistics</h4>
    </div>
    <div class="column center aligned">
        <i class="fab fa-gitter fa-5x"></i>
        <h4>Supportive Analytics</h4>
    </div>
</div>